@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,800&display=swap");
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

/*@import url("font-awesome.min.css");*/

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}


/* Basic */

body {
    font: 400 14px Montserrat, sans-serif;
    background: #3F3D56;
    -webkit-font-smoothing: antialiased;
    /* background-image: url(./images/bg.jpg); */
    height: 100%;
    width: 100%;
    left: 0;
    opacity: 1;
    color: transparent;
    position: absolute;
    top: 0;
    background-size: cover;
    background: url(images/bg.jpg) no-repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}

.container {
    width: 100%;
    max-width: 1152px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.container>div {
    padding: 10px;
}

.overlay {
    position: absolute;
    left: 0;
    height: 418px;
    width: 100%;
    background: rgba(0, 0, 0, 0.65);
    mix-blend-mode: darken;
    align-self: center;
    justify-self: center;
    z-index: -1;
    -moz-animation: overlay 1s 0.5s forwards;
    -webkit-animation: overlay 1s 0.5s forwards;
    -ms-animation: overlay 1s 0.5s forwards;
    animation: overlay 1s 0.5s forwards;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0;
}

.left {
    width: 153px;
    height: 100vh;
    order: 1;
}

.right {
    width: 153px;
    height: 100vh;
    order: 4;
}

.main {
    width: 100%;
    max-width: 538px;
    color: #E5E5E5;
    order: 2;
    -moz-animation: main 1s 1.25s forwards;
    -webkit-animation: main 1s 1.25s forwards;
    -ms-animation: main 1s 1.25s forwards;
    animation: main 1s 1.25s forwards;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0;
}

.main h1 {
    margin-top: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */
    text-transform: uppercase;
    letter-spacing: -0.4px;
}

.main p {
    /* width: 538px;
    height: 50px;
    left: 153px;
    top: 362px; */
    font-family: Source Code Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: right;
    color: #E5E5E5;
}

.icons {
    order: 3;
}

.icons ul {
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.icons li {
    align-self: center;
    margin: 30px;
    -moz-animation: icons 0.5s ease-in-out forwards;
    -webkit-animation: icons 0.5s ease-in-out forwards;
    -ms-animation: icons 0.5s ease-in-out forwards;
    animation: icons 0.5s ease-in-out forwards;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0;
}

.icons li:nth-child(1) {
    -moz-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.icons li:nth-child(2) {
    -moz-animation-delay: 1.75s;
    -webkit-animation-delay: 1.75s;
    -ms-animation-delay: 1.75s;
    animation-delay: 1.75s;
}

.icons li:nth-child(3) {
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -ms-animation-delay: 2s;
    animation-delay: 2s;
}

.icons li:nth-child(4) {
    -moz-animation-delay: 2.25s;
    -webkit-animation-delay: 2.25s;
    -ms-animation-delay: 2.25s;
    animation-delay: 2.25s;
}

.icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-size: cover;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    color: inherit;
    outline: 0;
    text-decoration: none;
}

.icon-mail {
    background-image: url(./images/BtMail.svg);
}

.icon-linkedin {
    background-image: url(./images/BtLinkedin.svg);
}

.icon-github {
    background-image: url(./images/BtGithub.svg);
}

.icon-twitter {
    background-image: url(./images/BtTwitter.svg);
}

.icon:hover,
.icon:focus {
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

@media all and (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
    }
    .overlay {
        align-self: center;
        justify-self: center;
    }
    .main {
        margin: 10px;
        padding: 10px;
        max-width: 332px;
    }
    .main h1 {
        margin-top: 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 59px;
        /* identical to box height */
        text-transform: uppercase;
        letter-spacing: -0.4px;
    }
    .main p {
        font-family: Source Code Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
    }
    .icons ul {
        display: flex;
        flex: 0 1 auto;
        align-items: stretch;
        justify-content: space-between;
        padding: 5px;
    }
    .icons li {
        margin: 10px;
    }
}

@-moz-keyframes overlay {
    0% {
        -moz-transform: translate3d(0, 1em, 0);
        -webkit-transform: translate3d(0, 1em, 0);
        -ms-transform: translate3d(0, 1em, 0);
        transform: translate3d(0, 1em, 0);
        opacity: 0;
    }
    100% {
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes overlay {
    0% {
        -moz-transform: translate3d(0, 1em, 0);
        -webkit-transform: translate3d(0, 1em, 0);
        -ms-transform: translate3d(0, 1em, 0);
        transform: translate3d(0, 1em, 0);
        opacity: 0;
    }
    100% {
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-ms-keyframes overlay {
    0% {
        -moz-transform: translate3d(0, 1em, 0);
        -webkit-transform: translate3d(0, 1em, 0);
        -ms-transform: translate3d(0, 1em, 0);
        transform: translate3d(0, 1em, 0);
        opacity: 0;
    }
    100% {
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes overlay {
    0% {
        -moz-transform: translate3d(0, 1em, 0);
        -webkit-transform: translate3d(0, 1em, 0);
        -ms-transform: translate3d(0, 1em, 0);
        transform: translate3d(0, 1em, 0);
        opacity: 0;
    }
    100% {
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-moz-keyframes main {
    0% {
        -moz-transform: translate3d(0, 1em, 0);
        -webkit-transform: translate3d(0, 1em, 0);
        -ms-transform: translate3d(0, 1em, 0);
        transform: translate3d(0, 1em, 0);
        opacity: 0;
    }
    100% {
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes main {
    0% {
        -moz-transform: translate3d(0, 1em, 0);
        -webkit-transform: translate3d(0, 1em, 0);
        -ms-transform: translate3d(0, 1em, 0);
        transform: translate3d(0, 1em, 0);
        opacity: 0;
    }
    100% {
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-ms-keyframes main {
    0% {
        -moz-transform: translate3d(0, 1em, 0);
        -webkit-transform: translate3d(0, 1em, 0);
        -ms-transform: translate3d(0, 1em, 0);
        transform: translate3d(0, 1em, 0);
        opacity: 0;
    }
    100% {
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes main {
    0% {
        -moz-transform: translate3d(0, 1em, 0);
        -webkit-transform: translate3d(0, 1em, 0);
        -ms-transform: translate3d(0, 1em, 0);
        transform: translate3d(0, 1em, 0);
        opacity: 0;
    }
    100% {
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-moz-keyframes icons {
    0% {
        -moz-transform: translate3d(0, 1em, 0);
        -webkit-transform: translate3d(0, 1em, 0);
        -ms-transform: translate3d(0, 1em, 0);
        transform: translate3d(0, 1em, 0);
        opacity: 0;
    }
    100% {
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes icons {
    0% {
        -moz-transform: translate3d(0, 1em, 0);
        -webkit-transform: translate3d(0, 1em, 0);
        -ms-transform: translate3d(0, 1em, 0);
        transform: translate3d(0, 1em, 0);
        opacity: 0;
    }
    100% {
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-ms-keyframes icons {
    0% {
        -moz-transform: translate3d(0, 1em, 0);
        -webkit-transform: translate3d(0, 1em, 0);
        -ms-transform: translate3d(0, 1em, 0);
        transform: translate3d(0, 1em, 0);
        opacity: 0;
    }
    100% {
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes icons {
    0% {
        -moz-transform: translate3d(0, 1em, 0);
        -webkit-transform: translate3d(0, 1em, 0);
        -ms-transform: translate3d(0, 1em, 0);
        transform: translate3d(0, 1em, 0);
        opacity: 0;
    }
    100% {
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}